body {
    background-color: #E8FFF4;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.grid-item-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 10px;
    padding: 10px;
}

.radial-gradient {
    background: radial-gradient(circle at 30% 0%, #81EBC5 0%,  #e8fff400 35%),
                radial-gradient(circle at 70% 100%, #7AE5D2 0%,  #e8fff400 50%);
    background-color: #deffef;
    background-size: 100% 100%;
    background-attachment: fixed;
}